<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="Logo">
      </a>
      <nav class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link" data-link-alt="Product">Product</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-link-alt="Features">Features</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-link-alt="About us">About us</a></li>
          <li class="nav__item"><a href="#" class="nav__link" data-link-alt="Blog">Blog</a></li>
        </ul>
      </nav>
      <a href="#" class="btn">Get started</a>
    </div>
  </div>
</header>